
.header{
    background-color: #C2DEDC;
  }
  .body{
    background-color: #ECE5C7;
    padding: 10px 0 10px 0;
  }
  .footer{
<<<<<<< HEAD
    background-color: #116A7B;
  }
  
=======
    background-color: #C2DEDC;
    
  }
  .form {
    background-color: #C2DEDC;
  }

.input,
.textarea,
.select {
  background-color: #ECE5C7;
}

.button[type="submit"] {
  background-color: #CDC2AE;
  color: #116A7B;
}
>>>>>>> ca9256383f4fb3921a1aef8564addb22bc600d1f
